; Allow necessary build scripts for Prisma, argon2, etc.
enable-pre-post-scripts=true

; Allow native module builds
side-effects-cache=true

; Trust these packages to run install scripts
onlyBuiltDependencies=prisma,@prisma/engines,@prisma/client,argon2,esbuild,@nestjs/core
